.sortpanel {
    width: 152px;
    height: 100%;
    background-color: $dark-grey-color;
    padding: 35px 20px;

    position: fixed;
  
 

    &__header {
        font-size: $font-size-md;
        line-height: 14px;
        padding-bottom: 10px;
    }

    &__button-sort-city {
        @include buttonStyle($blue-color, 86px)
    }

    &__button-sort-company {
        @include buttonStyle($blue-color, 105px)
    }

    ul {
        list-style: none;
    }

    li {
        margin-bottom: 10px;
    }
}