.user-profile {
    margin-top: 16px;
    border: 1px solid $light-grey-color;
    width: 100%;
    border-radius: 8px;

    &__list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }
}