.user-card {
    max-width: 420px;
    width: 100%;
    background-color: $light-grey-color;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 8px;

    button {
        border: none;
        align-self: flex-end;
        cursor: pointer;
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }

    li {
        display: flex;
        flex-direction: row;
        margin-bottom: 7px;
       
    }

    li:last-child {
        margin-bottom: 0px;
    }

    span {
        margin-right: 7px;
        font-size: $font-size-sm;
        line-height: 13px;
        color: $dark-grey-color-label;
    }

    p {
        font-size: $font-size-sm;
        line-height: 13px;
    }

    &__link {
        text-decoration: none;
        color: $blue-color;
        font-family: $font-size-md;
        line-height: 14px;
    }
}