$font-stack: Roboto;
$font-size-sm: 11px;
$font-size-md: 12px;
$font-size-lg: 14px;
$light-grey-color: #F3F3F3;
$dark-grey-color: #BDBDBD;
$dark-grey-color-btn: #AFAFAF;
$dark-grey-color-label: #A3A3A3;
$blue-color: #4B51EF;
$green-color: #52CF4F;


@mixin buttonStyle($background-color, $width) {
    height: 24px;
    font-size: $font-size-md;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    // margin-bottom: 10px;
    cursor: pointer;

    background-color: $background-color;
    width: $width;
}