@import './fonts';
@import './libs/normalize';
@import './config';

@import './components/all';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: $font-stack;
    line-height: 1.6;
    font-size: $font-size-md;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;  

    height: 100%;
    max-width: 1200px;
    min-width: 320px;

    @media (max-width: 768px) {
        width: calc(100% - 40px);
    }
}

.container {
    margin: 19px auto 17px 34px;
    width: 438px;
}