@import './fonts';
@import './libs/normalize';
@import './config';

@import './components/all';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: $font-stack;
    line-height: 1.6;
    font-size: $font-size-md;
}

.wrapper {
    position: relative;
    height: 100%;
    max-width: 1200px;
    min-width: 320px;


    @media (max-width: 768px) {
        width: calc(100% - 40px);
    }
}

.container {
    margin: 0 auto 17px 200px;
    width: 438px;
    padding-top: 19px;
}